.body {
  font-family: sans-serif;
}

.site-header {
  text-align: center;
}

.shopping-list-section {
  justify-content: center;
  font-size: 1.5rem;
}

.shopping-list-section > div {
  display: flex;
  flex-direction: column;
}

.shopping-list-input {
  height: 2rem;
  font-size: 1.5rem;
  margin-top: -0.15rem;
}

.shopping-list {
  list-style: none;
  padding: 0;
  margin-top: 0.15rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.shopping-list-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  min-height: 2rem;

  /* necessary for sortable ghost*/
  font-family: sans-serif;
  font-size: 1.5rem;
}

.shopping-list-item .drag-handle {
  margin-right: 1rem;
  cursor: grab;
}

.shopping-list-item.marked-item span {
  text-decoration: line-through;
  color: #ccc;
}

.shopping-list-item-checkbox {
	display: none;
}

.shopping-list-item-checkbox + label {
  border: 1px solid #ddd;
  color: #ddd;
	margin-right: 1rem;
	border-radius: 20%;
  width: 2rem;
  height: 2rem;
  transition: color 0.1s linear;
}

.shopping-list-item-checkbox + label svg{
  margin-left: 0.2rem;
  margin-top: 0.2rem;
}

.shopping-list-item-checkbox + label:active, .shopping-list-item-checkbox:checked + label:active {
	border: 1px solid #ccc;
}

.shopping-list-item-checkbox:checked + label {
	color: #4cca53;
}

.shopping-list-item span {
  flex: 1;
  line-height: 2.5rem;
  min-width: 5rem;
  word-wrap: break-word;
}

.shopping-list-item .pure-button {
  background:none;
  box-shadow: none;
  padding: 0;
  margin-left: 1rem;
}

.shopping-list-item .pure-button:hover {
  color: #d22;
}

.shopping-list-item .pure-button:active {
  color: #622;
}

/*-----------SpinKit spinner https://github.com/tobiasahlin/SpinKit-------------*/
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
/*-------------------------------------------------------------------------------*/
